.tim-row {
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}

.title {
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
}

.title.text-center {
    margin-bottom: 50px;
}

.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}

.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}

.tim-row {
    padding-top: 50px;
}

.tim-row h3 {
    margin-top: 0;
}

.switch {
    margin-right: 20px;
}

#navbar-full .navbar {
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2;
}

.space {
    height: 130px;
    display: block;
}

.space-110 {
    height: 110px;
    display: block;
}

.space-50 {
    height: 50px;
    display: block;
}

.space-70 {
    height: 70px;
    display: block;
}

.navigation-example .img-src {
    background-attachment: scroll;
}

.navigation-example {
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    margin-top: 0;
    min-height: 740px;
}

#notifications {
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}

.tim-note {
    text-transform: capitalize;
}

#buttons .btn {
    margin: 0 0 15px;
}

.space-100 {
    height: 100px;
    display: block;
    width: 100%;
}

.be-social {
    padding-bottom: 20px;
    /*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}

.txt-white {
    color: #FFFFFF;
}

.txt-gray {
    color: #ddd !important;
}

.parallax {
    width: 100%;
    height: 570px;

    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.logo-container .logo {
    overflow: hidden;
    padding-top: 5px;
    width: 200px;
    float: left;
}

.logo-container .brand {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 120px;
    height: 40px;
    text-align: left;
}

.logo-container .brand-material {
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}

.logo-container .logo img {
    width: 100%;
}

.navbar-small .logo-container .brand {
    color: #333333;
}

.fixed-section {
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
}

.fixed-section ul li {
    list-style: none;
}

.fixed-section li a {
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}

.fixed-section li a.active {
    color: #00bbff;
}

.fixed-section.float {
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}

.parallax .parallax-image {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.parallax .parallax-image img {
    width: 100%;
}

@media (max-width: 768px) {
    .parallax .parallax-image {
        width: 100%;
        height: 640px;
        overflow: hidden;
    }

    .parallax .parallax-image img {
        height: 100%;
        width: auto;
    }
}

.separator {
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}

.separator-line {
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}

.separator.separator-gray {
    background-color: #EEEEEE;
}

.social-buttons-demo .btn {
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container {
    width: 100%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.lightbox img {
    width: 100%;
}

.lightbox .modal-content {
    overflow: hidden;
}

.lightbox .modal-body {
    padding: 0;
}

@media screen and (min-width: 991px) {
    .lightbox .modal-dialog {
        width: 960px;
    }
}

@media (max-width: 991px) {
    .fixed-section.affix {
        position: relative;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .btn, .btn-morphing {
        margin-bottom: 10px;
    }

    .parallax .motto {
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px;
    }
}

/*       Loading dots  */

/*      transitions */
.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#images h4 {
    margin-bottom: 30px;
}

#javascriptComponents {
    padding-bottom: 0;
}

#javascriptComponents .btn-raised {
    margin: 10px 5px;
}

/*      layer animation          */

.layers-container {
    display: block;
    margin-top: 50px;
    position: relative;
}

.layers-container img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    text-align: center;
}

.section-black {
    background-color: #333;
}

.animate {
    transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}

.navbar-transparent.navbar-small .logo-container .brand {
    color: #FFFFFF;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}

.sharing-area {
    margin-top: 80px;
}

.sharing-area .btn {
    margin: 15px 4px 0;
    color: #FFFFFF;
}

.sharing-area .btn i {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.sharing-area .btn-twitter {
    background-color: #55acee;
    box-shadow: 0 2px 2px 0 rgba(85, 172, 238, 0.14), 0 3px 1px -2px rgba(85, 172, 238, 0.2), 0 1px 5px 0 rgba(85, 172, 238, 0.12);
}

.sharing-area .btn-twitter:hover {
    box-shadow: 0 14px 26px -12px rgba(85, 172, 238, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(85, 172, 238, 0.2);
}

.sharing-area .btn-facebook {
    background-color: #3b5998;
    box-shadow: 0 2px 2px 0 rgba(59, 89, 152, 0.14), 0 3px 1px -2px rgba(59, 89, 152, 0.2), 0 1px 5px 0 rgba(59, 89, 152, 0.12);
}

.sharing-area .btn-facebook:hover {
    box-shadow: 0 14px 26px -12px rgba(59, 89, 152, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(59, 89, 152, 0.2);
}

.sharing-area .btn-google-plus {
    background-color: #dd4b39;
    box-shadow: 0 2px 2px 0 rgba(221, 75, 57, 0.14), 0 3px 1px -2px rgba(221, 75, 57, 0.2), 0 1px 5px 0 rgba(221, 75, 57, 0.12);
}

.sharing-area .btn-google-plus:hover {
    background-color: #dd4b39;
    box-shadow: 0 14px 26px -12px rgba(221, 75, 57, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(221, 75, 57, 0.2);
}

.sharing-area .btn-github {
    background-color: #333;
    box-shadow: 0 2px 2px 0 rgba(51, 51, 51, 0.14), 0 3px 1px -2px rgba(51, 51, 51, 0.2), 0 1px 5px 0 rgba(51, 51, 51, 0.12);
}

.sharing-area .btn-github:hover {
    background-color: #333;
    box-shadow: 0 14px 26px -12px rgba(51, 51, 51, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(51, 51, 51, 0.2);
}

.section-thin,
.section-notifications {
    padding: 0;
}

.section-navbars {
    padding-top: 0;
}

#navbar .navbar {
    border-radius: 0;
}

.section-tabs {
    background: #EEEEEE;
}

.section-pagination {
    padding-bottom: 0;
}

.section-download h4 {
    margin-bottom: 25px;
}

.section-examples a {
    text-decoration: none;
}

.section-examples h5 {
    margin-top: 30px;
}

.components-page .wrapper > .header,
.tutorial-page .wrapper > .header {
    height: 400px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
}

.components-page .title,
.tutorial-page .title {
    color: #FFF;
}

/* fix ux */
.navbar {
    min-width: 320px;
}

.right-separator:after {
    position: relative;
    left: 10px;
    top: 0;
    right: 0;
    content: '|';
    font-size: 16px;
    color: #fff
}

.wrapper > .header {
    min-height: 500px;
    background-position: center top;
}

.main-raised {
    margin-top: -180px;
}

.brand {
    margin-top: 20vh;
}

.progress-container {
    z-index: 10000;
    background: #eee;
    min-height: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: table;
}

.progress-container .progress-content {
    color: rgb(141, 36, 170);
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.cssload-battery {
    display: block;
    margin: 20px auto;
    position: relative;
    width: 2.25rem;
    height: 4.5rem;
    box-shadow: 0 0 0 0.2rem rgb(170, 71, 188);
    -o-box-shadow: 0 0 0 0.2rem rgb(170, 71, 188);
    -ms-box-shadow: 0 0 0 0.2rem rgb(170, 71, 188);
    -webkit-box-shadow: 0 0 0 0.2rem rgb(170, 71, 188);
    -moz-box-shadow: 0 0 0 0.2rem rgb(170, 71, 188);
    border-radius: 0.09rem;
    -o-border-radius: 0.09rem;
    -ms-border-radius: 0.09rem;
    -webkit-border-radius: 0.09rem;
    -moz-border-radius: 0.09rem;
    background: white;
}

.cssload-battery:before {
    content: '';
    position: absolute;
    left: 0.5625rem;
    right: 0.5625rem;
    top: -0.4rem;
    height: 0.4rem;
    width: 1.125rem;
    background: rgb(141, 36, 170);
    border-radius: 0.18rem;
    -o-border-radius: 0.18rem;
    -ms-border-radius: 0.18rem;
    -webkit-border-radius: 0.18rem;
    -moz-border-radius: 0.18rem;
}

.cssload-battery:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-right: 2.25rem solid transparent;
    border-bottom: 4.05rem solid rgba(170, 71, 188, 0.32);
}

.cssload-liquid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 2.25rem;
    background: rgb(141, 36, 170);
    animation: load 4.28s infinite;
    -o-animation: load 4.28s infinite;
    -ms-animation: load 4.28s infinite;
    -webkit-animation: load 4.28s infinite;
    -moz-animation: load 4.28s infinite;
}

.cssload-liquid:after, .cssload-liquid:before {
    content: '';
    position: absolute;
    top: -0.5rem;
    height: 1.125rem;
    width: 1.4625rem;
    background: rgb(141, 36, 170);
    opacity: 0;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.cssload-liquid:after {
    right: 0;
    animation: cssload-liquid-1 4.28s infinite;
    -o-animation: cssload-liquid-1 4.28s infinite;
    -ms-animation: cssload-liquid-1 4.28s infinite;
    -webkit-animation: cssload-liquid-1 4.28s infinite;
    -moz-animation: cssload-liquid-1 4.28s infinite;
}

.cssload-liquid:before {
    left: 0;
    animation: cssload-liquid-2 4.28s infinite;
    -o-animation: cssload-liquid-2 4.28s infinite;
    -ms-animation: cssload-liquid-2 4.28s infinite;
    -webkit-animation: cssload-liquid-2 4.28s infinite;
    -moz-animation: cssload-liquid-2 4.28s infinite;
}

@keyframes load {
    0% {
        top: 4.5rem;
    }
    70% {
        top: 1.125rem;
    }
    90% {
        top: 0;
    }
    95% {
        top: 0;
    }
    100% {
        top: 4.5rem;
    }
}

@-o-keyframes load {
    0% {
        top: 4.5rem;
    }
    70% {
        top: 1.125rem;
    }
    90% {
        top: 0;
    }
    95% {
        top: 0;
    }
    100% {
        top: 4.5rem;
    }
}

@-ms-keyframes load {
    0% {
        top: 4.5rem;
    }
    70% {
        top: 1.125rem;
    }
    90% {
        top: 0;
    }
    95% {
        top: 0;
    }
    100% {
        top: 4.5rem;
    }
}

@-webkit-keyframes load {
    0% {
        top: 4.5rem;
    }
    70% {
        top: 1.125rem;
    }
    90% {
        top: 0;
    }
    95% {
        top: 0;
    }
    100% {
        top: 4.5rem;
    }
}

@-moz-keyframes load {
    0% {
        top: 4.5rem;
    }
    70% {
        top: 1.125rem;
    }
    90% {
        top: 0;
    }
    95% {
        top: 0;
    }
    100% {
        top: 4.5rem;
    }
}

@keyframes cssload-liquid-1 {
    0% {
        height: 0;
        opacity: 0;
        top: -0.5rem;
    }
    22% {
        height: 0.28125rem;
        top: 0.375rem;
        opacity: 1;
    }
    25% {
        top: -0.25rem;
    }
    35% {
        height: 1.125rem;
        top: -0.5rem;
    }
    55% {
        height: 0.28125rem;
        top: -0.125rem;
    }
    60% {
        height: 0.61875rem;
        opacity: 1;
        top: -0.275rem;
    }
    96% {
        height: 0.84375rem;
        opacity: 0;
        top: 0.5rem;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@-o-keyframes cssload-liquid-1 {
    0% {
        height: 0;
        opacity: 0;
        top: -0.5rem;
    }
    22% {
        height: 0.28125rem;
        top: 0.375rem;
        opacity: 1;
    }
    25% {
        top: -0.25rem;
    }
    35% {
        height: 1.125rem;
        top: -0.5rem;
    }
    55% {
        height: 0.28125rem;
        top: -0.125rem;
    }
    60% {
        height: 0.61875rem;
        opacity: 1;
        top: -0.275rem;
    }
    96% {
        height: 0.84375rem;
        opacity: 0;
        top: 0.5rem;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@-ms-keyframes cssload-liquid-1 {
    0% {
        height: 0;
        opacity: 0;
        top: -0.5rem;
    }
    22% {
        height: 0.28125rem;
        top: 0.375rem;
        opacity: 1;
    }
    25% {
        top: -0.25rem;
    }
    35% {
        height: 1.125rem;
        top: -0.5rem;
    }
    55% {
        height: 0.28125rem;
        top: -0.125rem;
    }
    60% {
        height: 0.61875rem;
        opacity: 1;
        top: -0.275rem;
    }
    96% {
        height: 0.84375rem;
        opacity: 0;
        top: 0.5rem;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@-webkit-keyframes cssload-liquid-1 {
    0% {
        height: 0;
        opacity: 0;
        top: -0.5rem;
    }
    22% {
        height: 0.28125rem;
        top: 0.375rem;
        opacity: 1;
    }
    25% {
        top: -0.25rem;
    }
    35% {
        height: 1.125rem;
        top: -0.5rem;
    }
    55% {
        height: 0.28125rem;
        top: -0.125rem;
    }
    60% {
        height: 0.61875rem;
        opacity: 1;
        top: -0.275rem;
    }
    96% {
        height: 0.84375rem;
        opacity: 0;
        top: 0.5rem;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@-moz-keyframes cssload-liquid-1 {
    0% {
        height: 0;
        opacity: 0;
        top: -0.5rem;
    }
    22% {
        height: 0.28125rem;
        top: 0.375rem;
        opacity: 1;
    }
    25% {
        top: -0.25rem;
    }
    35% {
        height: 1.125rem;
        top: -0.5rem;
    }
    55% {
        height: 0.28125rem;
        top: -0.125rem;
    }
    60% {
        height: 0.61875rem;
        opacity: 1;
        top: -0.275rem;
    }
    96% {
        height: 0.84375rem;
        opacity: 0;
        top: 0.5rem;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@keyframes cssload-liquid-2 {
    0% {
        height: 0;
        opacity: 0;
        top: -0.5rem;
    }
    17.5% {
        height: 0.28125rem;
        top: 0.2rem;
        opacity: 1;
    }
    20% {
        top: -0.25rem;
    }
    25% {
        height: 1.40625rem;
        top: -0.625rem;
    }
    45% {
        height: 0.28125rem;
        top: -0.125rem;
    }
    60% {
        height: 1.40625rem;
        opacity: 1;
        top: -0.5rem;
    }
    96% {
        height: 0.84375rem;
        opacity: 0;
        top: 0.5rem;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@-o-keyframes cssload-liquid-2 {
    0% {
        height: 0;
        opacity: 0;
        top: -0.5rem;
    }
    17.5% {
        height: 0.28125rem;
        top: 0.2rem;
        opacity: 1;
    }
    20% {
        top: -0.25rem;
    }
    25% {
        height: 1.40625rem;
        top: -0.625rem;
    }
    45% {
        height: 0.28125rem;
        top: -0.125rem;
    }
    60% {
        height: 1.40625rem;
        opacity: 1;
        top: -0.5rem;
    }
    96% {
        height: 0.84375rem;
        opacity: 0;
        top: 0.5rem;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@-ms-keyframes cssload-liquid-2 {
    0% {
        height: 0;
        opacity: 0;
        top: -0.5rem;
    }
    17.5% {
        height: 0.28125rem;
        top: 0.2rem;
        opacity: 1;
    }
    20% {
        top: -0.25rem;
    }
    25% {
        height: 1.40625rem;
        top: -0.625rem;
    }
    45% {
        height: 0.28125rem;
        top: -0.125rem;
    }
    60% {
        height: 1.40625rem;
        opacity: 1;
        top: -0.5rem;
    }
    96% {
        height: 0.84375rem;
        opacity: 0;
        top: 0.5rem;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@-webkit-keyframes cssload-liquid-2 {
    0% {
        height: 0;
        opacity: 0;
        top: -0.5rem;
    }
    17.5% {
        height: 0.28125rem;
        top: 0.2rem;
        opacity: 1;
    }
    20% {
        top: -0.25rem;
    }
    25% {
        height: 1.40625rem;
        top: -0.625rem;
    }
    45% {
        height: 0.28125rem;
        top: -0.125rem;
    }
    60% {
        height: 1.40625rem;
        opacity: 1;
        top: -0.5rem;
    }
    96% {
        height: 0.84375rem;
        opacity: 0;
        top: 0.5rem;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

@-moz-keyframes cssload-liquid-2 {
    0% {
        height: 0;
        opacity: 0;
        top: -0.5rem;
    }
    17.5% {
        height: 0.28125rem;
        top: 0.2rem;
        opacity: 1;
    }
    20% {
        top: -0.25rem;
    }
    25% {
        height: 1.40625rem;
        top: -0.625rem;
    }
    45% {
        height: 0.28125rem;
        top: -0.125rem;
    }
    60% {
        height: 1.40625rem;
        opacity: 1;
        top: -0.5rem;
    }
    96% {
        height: 0.84375rem;
        opacity: 0;
        top: 0.5rem;
    }
    100% {
        height: 0;
        opacity: 0;
    }
}

.index-page .brand {
    margin-top: 25vh;
}

.index-page .card {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
}

.index-page .card .title {
    margin-top: 0;
    margin-bottom: 5px;
}

.index-page .card .category:not([class*="text-"]) {
    color: #999999;
}

.index-page .card .card-content {
    padding: 15px 20px;
}

.index-page .card .card-content .category {
    margin-bottom: 0;
}

.index-page .card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #999999;
}

.index-page .card .card-header .title {
    color: #FFFFFF;
}

.index-page .card .card-header .category {
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.62);
}

.index-page .card .card-header.card-chart {
    padding: 0;
    min-height: 160px;
}

.index-page .card .card-header.card-chart + .content h4 {
    margin-top: 0;
}

.index-page .card .card-header .ct-label {
    color: rgba(255, 255, 255, 0.7);
}

.index-page .card .card-header .ct-grid {
    stroke: rgba(255, 255, 255, 0.2);
}

.index-page .card .card-footer {
    margin: 0 20px 10px;
    padding-top: 10px;
    border-top: 1px solid #eeeeee;
}

.index-page .card .card-footer .content {
    display: block;
}

.index-page .card .card-footer div {
    display: inline-block;
}

.index-page .card .card-footer .author {
    color: #999999;
}

.index-page .card .card-footer .stats {
    line-height: 22px;
    color: #999999;
    font-size: 12px;
}

.index-page .card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.index-page .card .card-footer h6 {
    color: #999999;
}

.index-page .card .category-social .fa {
    font-size: 24px;
    position: relative;
    margin-top: -4px;
    top: 2px;
    margin-right: 5px;
}

.index-page .card .table {
    margin-bottom: 0;
}

.index-page .card .table tr:first-child td {
    border-top: none;
}

.index-page .card [data-background-color="purple"] {
    background: linear-gradient(60deg, #ab47bc, #8e24aa);
    box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
}

.index-page .card [data-background-color="blue"] {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
}

.index-page .card [data-background-color="green"] {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}

.index-page .card [data-background-color="orange"] {
    background: linear-gradient(60deg, #ffa726, #fb8c00);
    box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
}

.index-page .card [data-background-color="red"] {
    background: linear-gradient(60deg, #ef5350, #e53935);
    box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
}

.index-page .card [data-background-color] {
    color: #FFFFFF;
}

.index-page .card [data-background-color] a {
    color: #FFFFFF;
}

.index-page .card-stats .title {
    margin: 0;
}

.index-page .card-stats .card-header {
    float: left;
    text-align: center;
}

.index-page .card-stats .card-header i {
    font-size: 32px;
    line-height: 56px;
    width: 48px;
    height: 56px;
}

.index-page .card-stats .card-content {
    text-align: right;
    padding-top: 10px;
    padding-right: 30px;
}