<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="http://cn.grapecity.com">
            <div class="logo-container">
                <div class="logo">
                    <img src="/img/logo.png" alt="GrapeCity Logo">
                </div>
            </div>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="navigation-index">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/" target="_self" class="right-separator">编程挑战赛</a>
            </li>
            <li>
                <a href="/rules" target="_self" class="right-separator">规则和注意事项</a>
            </li>
            <!--<li>-->
                <!--<a rel="tooltip" title="<img src='/img/grapecityxianqr.png' alt='微信'>"-->
                   <!--data-placement="bottom" data-html="true" target="_blank"-->
                   <!--class="btn btn-white btn-simple btn-just-icon">-->
                    <!--<i class="fa fa-wechat"></i>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a rel="tooltip" title="关注葡萄城官方微博" data-placement="bottom"-->
                   <!--href="http://www.weibo.com/powertools" target="_blank"-->
                   <!--class="btn btn-white btn-simple btn-just-icon">-->
                    <!--<i class="fa fa-weibo"></i>-->
                <!--</a>-->
            <!--</li>-->
            <!--<li>-->
                <!--<a rel="tooltip" title="葡萄城控件技术团队博客" data-placement="bottom"-->
                   <!--href="http://powertoolsteam.cnblogs.com/" target="_blank"-->
                   <!--class="btn btn-white btn-simple btn-just-icon">-->
                    <!--<i class="fa fa-wordpress"></i>-->
                <!--</a>-->
            <!--</li>-->
            <% if (typeof user === 'undefined') { %>
            <li>
                <a href="/login" target="_self" class="btn btn-simple btn-white">登录</a>
            </li>
            <% } else { %>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user-circle-o"></i>
                    <b class="caret"></b>
                    <div class="ripple-container"></div>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li class="divider"></li>
                    <li>
                        <a onclick="$('#userForm').submit()">注销</a>
                        <form id="userForm" method="post" action="/logout">
                        </form>
                    </li>
                </ul>
            </li>
            <% } %>
        </ul>
    </div>
</div>