{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "transform-object-assign",
    "transform-object-rest-spread",
    "transform-inline-environment-variables",
    "transform-undefined-to-void"
  ],
  "env": {
    "development": {
    }
  }
}
