<!DOCTYPE html>
<html>
<% include partial/head.ejs %>
<body class="index-page">
<% include partial/navbar.ejs %>
<div class="wrapper">
    <div class="header header-filter" style="background-image: url('img/bg2.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="brand">
                        <h1>编程挑战赛</h1>
                        <h3><img src="img/grapecityxian.png" height="48" alt="西安葡萄城信息技术有限公司"/></h3>
                        <div class="text-center">
                            <a class="btn btn-lg btn-success" href="/dashboard">
                                <span style="font-size: large">参与挑战</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <div class="title">
                    <h2><i class="fa fa-paragraph"></i> 最新战报:
                        <small>2017年新年挑战赛</small>
                    </h2>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="orange">
                                <i class="fa fa-tasks"></i>
                            </div>
                            <div class="card-content">
                                <p class="category">挑战题数</p>
                                <h3 class="title">10
                                    <small>道</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="purple">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="card-content">
                                <p class="category">参与人数</p>
                                <h3 class="title">79
                                    <small>人</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="red">
                                <i class="fa fa-trophy"></i>
                            </div>
                            <div class="card-content">
                                <p class="category">最高分</p>
                                <h3 class="title">892/
                                    <small>1000</small>
                                </h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-stats">
                            <div class="card-header" data-background-color="blue">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <div class="card-content">
                                <p class="category">下一场</p>
                                <h3 class="title">2017/1/20</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="space-100">
                </div>

                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2>规则和注意事项</h2>
                        <h4>The kit comes with three pre-built pages to help you get started faster. You can change the
                            text and images and you're good to go. More importantly, looking at them will give you a
                            picture of what you can built with this powerful kit.</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-video">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>更多帮助?</h2>
                        <h4>我们精心准备了一些入门视频，你可以在这里点播</h4>
                    </div>
                    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
                        <a href="/videos" class="btn btn-upgrade btn-lg" target="_blank">
                            全部视频
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partial/footer.ejs %>
</div>
<% include partial/scripts.ejs %>
</body>
</html>