<!DOCTYPE html>
<html>
<head>
    <% include partial/head.ejs %>
    <link href="/css/home.css" rel="stylesheet"/>
    <style>
        .main-raised {
            margin-top: -45vh;
        }
    </style>
</head>
<body class="profile-page">
<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
    <% include partial/navbar.ejs %>
</nav>
<!-- End Navbar -->

<div class="wrapper">
    <div class="header" style="background-image: url('/img/bg4.jpg');">
    </div>

    <div class="main main-raised">
        <div class="section section-basic">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2>规则和注意事项</h2>
                        <h5 class="text-left">规则解释权由西安葡萄城信息技术公司所有，如有变更，不做另行通知。</h5>
                        <div class="text-left">
                            <ul>
                                <li>赛事采用自动评测和计分系统，提交代码之后会自动编译并进行自动测试</li>
                                <li>评测系统会根据该题所通过的用例数来计分，每题满分为100，积分规则为：{该题得分}={通过的用例数}<sup>2</sup></li>
                                <li>对一道题多次提交会扣分，除第一次提交，其他每次提交扣除5分，最高扣除25分，如果得分不足扣除分数则记零分</li>
                                <li>系统仅接受每道题的最后一次提交为有效分数</li>
                                <li>所有题目得分之和为本次竞赛总得分</li>
                                <li>荣誉榜仅记录总得分最高的前十名选手</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partial/footer.ejs %>
</div>
<% include partial/scripts.ejs %>
<script type="text/javascript">
    $().ready(function () {

        // the body of this function is in assets/material-kit.js
//        materialKit.initSliders();
        var window_width = $(window).width();

        if (window_width >= 992) {
            big_image = $('.wrapper > .header');

            $(window).on('scroll', materialKitDemo.checkScrollForParallax);
        }
        if ($(window).scrollTop() > 300) {
            $('nav.navbar-transparent').removeClass('navbar-transparent');
        }
    });
</script>
</body>
</html>