<!DOCTYPE html>
<html>
<% include ../partial/head.ejs %>
<body class="app">
<div class="wrapper">
    <% include ../partial/sidebar.ejs %>
    <div class="main-panel">
        <% include ../partial/navbar.ejs %>
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    Placeholder
                </div>
            </div>
        </div>
        <% include ../partial/footer.ejs %>
    </div>
</div>
<% include ../partial/scripts.ejs %>
</body>
</html>