<!DOCTYPE html>
<html>
<% include ../partial/head.ejs %>
<body>
<div class="wrapper">
    <% include ../partial/sidebar.ejs %>
    <div class="main-panel">
        <% include ../partial/navbar.ejs %>
        <div class="content" style="min-height: calc(100% - 152px);">
            <div class="container-fluid">
                <div class="row">
                </div>
            </div>
        </div>
        <% include ../partial/footer.ejs %>
    </div>
</div>
</body>
<% include ../partial/scripts.ejs %>
</html>