<!DOCTYPE html>
<html>
<% include ../partial/head.ejs %>
<body class="app">
<div class="wrapper">
    <% include ../partial/sidebar.ejs %>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="btn btn-white btn-lg" href="/problems">
                        <i class="fa fa-angle-left" style="font-size: x-large"></i></a>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="container-fluid">
                <div class="col-md-10 col-md-offset-1">
                    <div class="card">
                        <div class="card-header" data-background-color="green">
                            <h4 class="title">Add problem</h4>
                            <p class="category">Complete following problem information, all fields marked with star (*)
                                are required</p>
                        </div>
                        <div class="card-content">
                            <form method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Name<span
                                                        class="text-danger">*</span></label>
                                            <input type="text" name="name" class="form-control"
                                                   value="<%= form.name %>">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">Title<span
                                                        class="text-danger">*</span></label>
                                            <input type="text" name="title" class="form-control"
                                                   value="<%= form.title %>">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Description<span
                                                        class="text-danger">*</span></label>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Please give explanations of this
                                                    problem </label>
                                                <textarea class="form-control" name="description"
                                                          rows="4"><%= form.description %></textarea>
                                                <span class="material-input"></span></div>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success pull-right">Save</button>
                                <button type="reset" class="btn btn-default pull-right">Reset</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partial/footer.ejs %>
    </div>
</div>
<% include ../partial/scripts.ejs %>
</body>
</html>