<!DOCTYPE html>
<html lang="en">
<% include head.ejs %>
<body>
<div class="wrapper">
    <div class="main main-raised">
        <div class="section section-download">
            <div class=container>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="/img/500.jpg" alt="Page not found" style="width: calc(100%); margin-top: calc(25%)"/>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 text-center">
                    <div class="logo">
                        <h2>对不起！服务器又调皮了……</h2>
                    </div>
                    <div class="clearfix"></div>
                    <br/><br/>
                    <p class="text-muted" style="text-align: left; padding-left: 30%">
                        如果，<br/>
                        你看见了我，<br/>
                        请不要担心，<br/>
                        我想，<br/>
                        我不会再回来的！
                    </p>
                    <div class="clearfix"></div>
                    <br/><br/>
                    <div class="clearfix"></div>
                    <br/>
                    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2">
                        <div class="btn-group btn-group-justified">
                            <a href="/contests" class="btn btn-lg btn-primary">随便逛逛</a>
                            <a href="/" class="btn btn-lg btn-success">回首页</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <% include ../partial/footer.ejs %>
</div>
</body>
</html>