<!DOCTYPE html>
<html>
<head>
    <% include ../partial/head.ejs %>
    <link href="/css/home.css" rel="stylesheet"/>
</head>
<body class="login-page">
<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-absolute">
    <% include ../partial/navbar.ejs %>
</nav>
<!-- End Navbar -->
<div class="wrapper">
    <div class="header header-filter"
         style="background-image: url('img/city.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-4 col-sm-7 col-sm-offset-3">
                    <div class="card card-login">
                        <form class="form" method="post">
                            <div class="header header-primary text-center">
                                <h4>激活</h4>
                                <div class="social-line">
                                </div>
                            </div>
                            <div class="text-divider">
                                <br/><br/>
                                <div class="text-left" style="margin-left: 40px">
                                    <ul id="errMsg">
                                        <% validation.forEach((msg) => { %>
                                        <li class="text-danger"><%= msg %></li>
                                        <% }) %>
                                    </ul>
                                </div>
                                <br/><br/><br/><br/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partial/footer.ejs %>
    </div>
</div>
</body>