<!DOCTYPE html>
<html>
<head>
    <% include ../partial/head.ejs %>
    <link href="/css/home.css" rel="stylesheet"/>
</head>
<body class="login-page">
<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-absolute">
    <% include ../partial/navbar.ejs %>
</nav>
<!-- End Navbar -->
<div class="wrapper">
    <div class="header header-filter"
         style="background-image: url('img/city.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-4 col-sm-7 col-sm-offset-3">
                    <div class="card card-login">
                        <form class="form" method="post">
                            <div class="header header-primary text-center">
                                <h4>重置密码</h4>
                                <div class="social-line">
                                </div>
                            </div>
                            <div class="text-divider">
                                使用邮箱重置密码<br/>
                                <div class="text-left" style="margin-left: 40px">
                                    <ul id="errMsg">
                                        <% validation.forEach((msg) => { %>
                                        <li class="text-danger"><%= msg %></li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </div>
                            <div class="content">
                                <div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-user"></i>
										</span>
                                    <input type="email" name="mail" class="form-control"
                                           placeholder="Email..." value="<%= form.mail %>">
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button type="submit"
                                        style="border: solid purple 1px"
                                        class="btn btn-simple btn-primary btn-lg">重置密码
                                </button>
                            </div>
                            <div class="footer text-left">
                                <a href="/login" class="btn btn-simple btn-primary btn-lg">返回登录</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partial/footer.ejs %>
    </div>
</div>
<% include ../partial/scripts.ejs %>
</body>