<!DOCTYPE html>
<html>
<head>
    <% include ../partial/head.ejs %>
</head>
<body class="login-page">
<!-- Navbar -->
<nav class="navbar navbar-transparent navbar-absolute">
    <% include ../partial/navbar.ejs %>
</nav>
<!-- End Navbar -->
<div class="wrapper">
    <div class="header header-filter"
         style="background-image: url('img/city.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-4 col-sm-7 col-sm-offset-3">
                    <div class="card card-login">
                        <form class="form" method="post">
                            <div class="header header-primary text-center">
                                <h4>登录</h4>
                                <div class="social-line">
                                </div>
                            </div>
                            <div class="text-divider">
                                使用邮箱和密码登录<br/><br/>
                                <div class="text-left" style="margin-left: 40px">
                                    <ul id="errMsg">
                                        <% validation.forEach((msg) => { %>
                                        <li class="text-danger"><%= msg %></li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </div>
                            <div class="content">
                                <div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-user"></i>
										</span>
                                    <input type="email" name="mail" class="form-control"
                                           placeholder="Email..." value="<%= form.mail %>">
                                </div>

                                <div class="input-group">
										<span class="input-group-addon">
											<i class="fa fa-key"></i>
										</span>
                                    <input type="password" name="password" placeholder="Password..."
                                           class="form-control"/>
                                </div>

                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox"
                                               name="rememberMe" <%= `${form.rememberMe ? 'checked' : ''}` %>>
                                        记住我
                                    </label>
                                </div>
                            </div>
                            <div class="footer text-center">
                                <button type="submit"
                                        style="border: solid purple 1px"
                                        class="btn btn-simple btn-primary btn-lg">登录
                                </button>
                            </div>
                            <div class="footer text-left">
                                <a href="/signup" class="btn btn-simple btn-primary btn-lg">还没有账号？注册一个</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <% include ../partial/footer.ejs %>
    </div>
</div>
<% include ../partial/scripts.ejs %>
<script>
    $(document).ready(function () {
        $('form').submit(function (e) {
            $('#errMsg').empty();
            var mail = $(this).find('[name="mail"]'),
                password = $(this).find('[name="password"]');
            if (!(mail.val().trim())) {
                $('#errMsg').append('<li class="text-danger">邮箱不能为空</li>');
                mail.focus();
                e.preventDefault();
                return false;
            }
            if (!(password.val().length > 0)) {
                $('#errMsg').append('<li class="text-danger">密码不能为空</li>')
                password.focus();
                e.preventDefault();
                return false;
            }
        });
    });
</script>
</body>